.z-elevate-0 {
  background-color: var(--elevate-0);
  box-shadow: var(--shadow-0);
}

.z-elevate-1 {
  background-color: var(--elevate-1);
  box-shadow: var(--shadow-1);
}

.z-elevate-2 {
  background-color: var(--elevate-2);
  box-shadow: var(--shadow-2);
}

.z-elevate-3 {
  background-color: var(--elevate-3);
  box-shadow: var(--shadow-3);
}

.z-elevate-4 {
  background-color: var(--elevate-4);
  box-shadow: var(--shadow-4);
}

.z-elevate-5 {
  background-color: var(--elevate-5);
  box-shadow: var(--shadow-5);
}

.z-elevate-6 {
  background-color: var(--elevate-6);
  box-shadow: var(--shadow-6);
}

.z-elevate-7 {
  background-color: var(--elevate-7);
  box-shadow: var(--shadow-7);
}

.z-elevate-8 {
  background-color: var(--elevate-8);
  box-shadow: var(--shadow-8);
}

.z-elevate-9 {
  background-color: var(--elevate-9);
  box-shadow: var(--shadow-9);
}
