.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.autocomplete-form:not(:focus-within) .autocomplete-list {
  visibility: hidden;
}

.autocomplete-list {
  position: absolute;
  margin-top: 4px;
  margin-bottom: 0;
  list-style-type: none;
  width: 100%;
  padding: 0;
  max-height: 25vh;
  overflow: auto;
  z-index: 100;
  transition: all 500ms;
}

.autocomplete-list-item {
  padding: 8px 48px;
  user-select: none;
  cursor: pointer;
}

.autocomplete-list-item:hover {
  background: rgba(255, 255, 255, 0.5);
}

.question-form {
  overflow-y: hidden;
  transition: max-height 350ms;
  max-height: 200px;
  position: relative;
}

.question-form:not(:focus-within) {
  max-height: 96px;
}

/* Rules for sizing the icon. */
