.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.on-hover-highlight:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Rules for sizing the icon. */
