body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #3a3335;
  color: #fafaff;
  line-height: 1.5;
  height: 100%;
}

a {
  color: unset;
  text-decoration: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  fill: currentColor;
}

#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
